<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">@iplab/ngx-l10n</h1>
                <p l10n="header.title.description"></p>
                <a href="https://github.com/pIvan/l10n" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">GitHub</a>
            </div>
            <div class="w-100"><br></div>
            <div class="col col-md-6 col-sm-12">
                <p l10n="header.selection.title"></p>
                <select #select class="form-control col-sm-12" (change)="languangeChange( select.value )">
                    <option 
                        *ngFor="let lang of languages" 
                        [selected]="lang.code === language" 
                        [value]="lang.code">{{ lang.language }}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- directive examples -->
<div class="container">

    <div class="card">
        <div class="card-header" [innerHTML]="'demo.title' | l10n"></div>
        <div class="card-block">
            <p>dictionary content:</p>
            <pre>{{ dictionary | json }}</pre>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">Description</div>
        <div class="card-block">
            <p>Pure Angular 2+ localization (l10n) library.</p>
            <ul>
                <li>It's an Angular functional set (pipe, directive, service) used to localize application</li>
                <li>Compatible with Angular 2+ versions</li>
                <li>No external dependency</li>
                <li>Supported some of the most used localization files: .properties, .po, .json</li>
                <li>load localization file/s when you need it</li>
                <li>easily manage localization storage</li>
                <li>customizable localization loader</li>
                <li>NativeScript ready <a href="#nativescript">check configuration</a></li>
            </ul>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">Getting started</div>
        <div class="card-block">
            <ol>
                <li>Fork and clone this repo</li>
                <li>npm install</li>
                <li>Open a terminal and type "npm run start"</li>
            </ol>
            <p style="padding:0 0 0 40px"><b>or</b></p>
            <ol>
                <li>npm install @iplab/ngx-l10n --save</li>
                <li>ng serve --open</li>
            </ol>
        </div>
    </div>
    <br>

    <div class="card" id="installation">
        <div class="card-header">Installation</div>
        <div class="card-block">
            <p>To install this component to an external project, follow the procedure:</p>
            <ol>
                <li><code>npm install @iplab/ngx-l10n --save</code></li>
                <li><pre class="prettify">import &#123; L10nModule, L10nService &#125; from '@iplab/ngx-l10n';
...
...


@Injectable()
export class LocalizationResolve implements Resolve&lt;any&gt; &#123;

    constructor(private localization: L10nService)&#123;
        this.localization.languageChanges.subscribe((&#123; code &#125;) => &#123;
            /**
             * second parameter is used if we don't want to merge result set
             * to previus one, use this only if in memory we want to store only
             * one language
             */
            this.localization.setFromFile(`$&#123;code&#125;.locales.properties`, false);
        &#125;)
    &#125;

    public resolve(): Observable&lt;any&gt;|Promise&lt;any&gt; &#123;
        return this.localization.setFromFile(`$&#123;this.localization.languageCode&#125;.locales.properties`);
    &#125;
&#125;



@NgModule(&#123;
    imports: [
        BrowserModule,
        L10nModule.forRoot(&#123; config: &#123;defaultLanguage: LanguageCodes.EnglishUnitedStates&#125; &#125;),
        RouterModule.forRoot([
            &#123; path: '', component: AppComponent, resolve: &#123; localization: LocalizationResolve &#125;&#125;
        ])
    ],
    providers: [LocalizationResolve],
    bootstrap: [AppComponent]
&#125;)
export class AppModule &#123;&#125;</pre>
                </li>
            </ol>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">Configuration</div>
        <div class="card-block">
            <p>By default, if you want to load .properties, .po or .json files you don't need to configure anything.<br>
            But depending on your needs, you can write your own loader, parser or storage provider,<br>
            also it is possible to write custom formatter and error handler</p>
            <pre class="prettify">
import &#123; 
    IL10nLoaderResponse, 
    IL10nFileRequest, 
    L10nBaseLoader,
    L10nBaseStorage,
    L10nBaseParser,
    L10nBaseFormatter,
    L10nBaseErrorHandler,
    LanguageCodes
&#125; from '@iplab/ngx-l10n';
                    

@Injectable()
export class CustomLoader extends L10nBaseLoader &#123;

    constructor( private http: HttpClient )&#123;
        super();
    &#125;

    public getFile(&#123; url, code &#125;: IL10nFileRequest ): Observable&lt;IL10nLoaderResponse&gt; &#123;
        let subject = new Subject&lt;IL10nLoaderResponse&gt;();
        let fileType = this.getFileExtension( url );                           

        ...
        return subject.asObservable();
    &#125;
&#125;


@Injectable()
export class CustomStorage extends L10nBaseStorage &#123;

    public getSentance( key: string ): string &#123;
        return this._dictionary[key];
    &#125;

    public setSentence( key: string, sentence: string ): void &#123;
        this._dictionary[ key ] = sentence;
    &#125;
&#125;


@Injectable()
export class CustomParser extends L10nBaseParser &#123;
    public parse( response: any, fileType: string ): Observable<&#123; key: string; sentence: string &#125;> &#123;&#125;
&#125;


@Injectable()
export class CustomFormatter extends L10nBaseFormatter &#123;
    public abstract interpolate(sentence: string, args: IL10nArguments): string;
&#125;


@Injectable()
export class CustomErrorHandler extends L10nBaseErrorHandler &#123;
    public abstract handleError(error: any): void;
&#125;


@NgModule(&#123;
    imports: [
        BrowserModule,
        // each config property is optional
        L10nModule.forRoot(&#123; 
            loader: CustomLoader, 
            storage: CustomStorage, 
            parser: CustomParser, 
            formatter: CustomFormatter,
            errorHandler: CustomErrorHandler,
            config: &#123; 
                defaultLanguage: LanguageCodes.EnglishUnitedStates, 
                bindingProperty: 'textContent'
            &#125; 
        &#125;)
    ],
    providers: [CustomLoader, CustomStorage, CustomParser, CustomFormatter],
    bootstrap: [AppComponent]
&#125;)
export class AppModule &#123;&#125;
            </pre>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">Define the translations</div>
        <div class="card-block" ngNonBindable>
            <p>Once you've configurated L10n module, you can put your translations to file/s or use existing one.</p>
            <p>.properties</p>
            <pre class="prettify">app.hello.key = Hello $&#123;value&#125;</pre>
            <p>.po</p>
            <pre class="prettify">msgid "app.hello.key"
msgstr "Hello $&#123;value&#125;"</pre>
            <p>.json</p>
            <pre class="prettify">&#123;
"app.hello.key": "Hello $&#123;value&#125;"
&#125;</pre>

<p>default defined interpolations are <b>$&#123; &#125;</b> or <b>{{ }}</b> or <b>&#123; &#125;</b>.</p>
<pre class="prettify">
Hello $&#123;value&#125;  =>  L10nService.get('app.hello.key', &#123;value: "world"&#125;)  =>  Hello world
Hello $&#123;0&#125;      =>  L10nService.get('app.hello.key', ["world"])         =>  Hello world<br>
Hello &#123;value&#125;   =>  L10nService.get('app.hello.key', &#123;value: "world"&#125;)  => Hello world
Hello &#123;0&#125;       =>  L10nService.get('app.hello.key', ["world"])         => Hello world<br>
Hello &#123;&#123;value&#125;&#125; =>  L10nService.get('app.hello.key', &#123;value: "world"&#125;)  =>  Hello world
Hello &#123;&#123;0&#125;&#125;     =>  L10nService.get('app.hello.key', ["world"])         =>  Hello world</pre>

        <p>It is possible to change default interpolations with something custom</p>
        <pre class="prettify">
import &#123; L10nModule, L10nBaseFormatter, defineInterpolation, IL10nArguments &#125; from '@iplab/ngx-l10n';

@Injectable()
export class CustomFormatter extends L10nBaseFormatter &#123;
    public interpolate(sentence: string, args: IL10nArguments): string &#123;
        return sentence.replace( defineInterpolation(['[[', ']]']), (match, interpolates) => &#123;    
            if (!IsNullOrEmpty(args)) &#123;
                return args[this.trim(interpolates)];
            &#125;

            return match;
        &#125;);
    &#125;
&#125;

@NgModule(&#123;
    imports: [
        ...,
        L10nModule.forRoot(&#123; 
            formatter: CustomFormatter
        &#125;)
    ]
&#125;)
export class AppModule &#123;&#125;</pre>
        <pre class="prettify">app.hello.key = Hello [[value]]</pre>
        <p>possible is to use other key from dictionary as value</p>
        <pre class="prettify">app.world.key = world
app.hello.key = Hello $&#123;app.world.key&#125;

L10nService.get('app.hello.key')  =>  Hello world</pre>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">Add values to dictionary</div>
        <div class="card-block">
            <p>when setting up a dictionary it is possible to use three built-in methods, <b>setFromObject()</b>, <b>setFromFile()</b> or <b>set()</b></p>
            <pre class="prettify">L10nService.setFromObject(&#123; 'app.hello.key': 'Hello $&#123;app.hello.world&#125;', 'app.hello.world': 'world' &#125;);</pre>
            <pre class="prettify">L10nService.setFromFile('http://some.url');</pre>
            <pre class="prettify">L10nService.set('app.hello.key', 'Hello world!');</pre>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">Service</div>
        <div class="card-block">
            <p>you can use Ln10 <b>service</b>:</p>
            <pre class="prettify">let translation = L10nService.get('app.hello.key', &#123; value: 'world' &#125;);
console.log( translation ); => Hello world</pre>
            <p>it's possible to observe changes on specific key, an observer will also initially return a translated value</p>
            <pre class="prettify">let subscription = L10nService.observe('app.hello.key', &#123; value: 'world' &#125;)
                              .subscribe((sentence) => &#123; console.log( sentence );  &#125;);</pre>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">Directive</div>
        <div class="card-block">
            <p><b>directive</b> by default use HTMLElement.textContent as property for translation,<br>
                and this is how you use it:</p>
            <pre class="prettify">&lt;div l10n="app.hello.key" [l10n-args]="params"&gt;&lt;/div&gt;
&lt;div l10n="app.hello.key" [l10n-args]="&#123;value: 'world'&#125;"&gt;&lt;/div&gt;
&lt;div l10n="app.hello.key" l10n-args="&#123;value: 'world'&#125;"&gt;&lt;/div&gt;

&lt;div [l10n]="'app.hello.key'" [l10n-args]="params"&gt;&lt;/div&gt;
&lt;div [l10n]="'app.hello.key'" l10n-args="&#123;value: 'world'&#125;"&gt;&lt;/div&gt;</pre>
            <p><b>l10n-args</b> can be property in component or inline written JSON</p>
        </div>
    </div>
    <br>

    <div class="card" ngNonBindable>
        <div class="card-header">Pipe</div>
        <div class="card-block">
            <p>also easily you can use the <b>pipe</b></p>
            <pre class="prettify">&lt;div&gt;&#123;&#123;'app.hello.key' | l10n:param &#125;&#125;&lt;/div&gt;
&lt;div [innerHTML]="'app.hello.key' | l10n"&gt;&lt;/div&gt;
&lt;div&gt;&#123;&#123;'app.hello.key' | l10n: &#123;'key': 'value'&#125; &#125;&#125;&lt;/div&gt;</pre>
            <p><b>param</b> can be property in component or inline written JSON</p>
        </div>
    </div>
    <br>

    <div class="card" id="nativescript" ngNonBindable>
        <div class="card-header">NativeScript</div>
        <div class="card-block">
            <p>To configure and use with <a href="https://www.nativescript.org/" target="_blank">NativeScript</a> is easy</p>
            <p><code>tns plugin add @iplab/ngx-l10n</code></p>
            <p>Now we need to prepare custom File loader and Localization resolver</p>
            <pre class="prettify">import &#123; L10nModule, L10nService, L10nBaseLoader &#125; from '@iplab/ngx-l10n';
import &#123; knownFolders &#125; from "file-system";
import &#123; Subject, Observable, from &#125; from 'rxjs';
import &#123; map &#125; from 'rxjs/operators';
import &#123; Resolve &#125; from "@angular/router";
...
import &#123; NativeScriptModule &#125; from "nativescript-angular/nativescript.module";
import &#123; NativeScriptRouterModule &#125; from "nativescript-angular/router";
...
...

@Injectable()
export class CustomLoader extends L10nBaseLoader &#123;

    private readonly folderName = 'locales'; // folder where you place your locale files, 
                                            // in our case that is locales/en.locales.properties
    private readonly documents = knownFolders.currentApp();
    private readonly folder = this.documents.getFolder(this.folderName);

    public getFile(&#123; url, code &#125;: IL10nFileRequest ): Observable&lt;IL10nLoaderResponse> &#123;
        let fileType = this.getFileExtension( url );                           
        let file = this.folder.getFile(url);

        return from(file.readText())
                .pipe(map((response) => &#123;
                    return &#123; response, fileType &#125;
                &#125;));
    &#125;
&#125;

                                                        
@Injectable()
export class LocalizationResolve implements Resolve&lt;any&gt; &#123;
                            
    constructor(private localization: L10nService)&#123;
        this.localization.languageChanges.subscribe((&#123; code &#125;) => &#123;
            this.localization.setFromFile(`$&#123;code&#125;.locales.properties`);
        &#125;)
    &#125;
                            
    public resolve(): Observable&lt;any&gt;|Promise&lt;any&gt; &#123;
        return this.localization.setFromFile(`$&#123;this.localization.languageCode&#125;.locales.properties`);
    &#125;
&#125;


@NgModule(&#123;
    imports: [
        NativeScriptModule,
        L10nModule.forRoot(&#123; 
            config: &#123;defaultLanguage: LanguageCodes.EnglishUnitedStates, bindingProperty: 'text' &#125;,
            loader: CustomLoader
        &#125;),
        NativeScriptRouterModule.forRoot([
            &#123; path: '', component: AppComponent, resolve: &#123; localization: LocalizationResolve &#125;&#125;
        ])
    ],
    providers: [
        LocalizationResolve,
        L10nService, // because currently NativeScript doesn't work with @Injectable(&#123; providedIn: 'root' &#125;)
        CustomLoader
    ],
    bootstrap: [AppComponent]
&#125;)
export class AppModule &#123;&#125;</pre>

        <br>
        <p>Use case is same as it is for HTML</p>
        <pre class="prettify">&lt;ActionBar title="&#123;&#123; 'app.header.title' | l10n &#125;&#125;" class="action-bar"&gt;&lt;/ActionBar&gt;</pre>
        <a href="assets/NativeScript.png" target="_blank">
            <img src="assets/NativeScript.png" class="img-thumbnail img-fluid">
        </a>
        </div>
    </div>
    <br>
    

    <div class="card">
        <div class="card-header">List of service methods</div>
        <div class="card-block">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>language</td>
                        <td><code>Setter.String</code></td>
                        <td>Used to set language</td>
                    </tr>
                    <tr>
                        <td>language</td>
                        <td><code>Getter.String</code></td>
                        <td>Return language ISO code</td>
                    </tr>
                    <tr>
                        <td>languageCode</td>
                        <td><code>Getter.String</code></td>
                        <td>Return language code from ISO string</td>
                    </tr>
                    <tr>
                        <td>direction</td>
                        <td><code>Getter.String</code></td>
                        <td>Return direction (ltr|rtl) of the current language</td>
                    </tr>
                    <tr>
                        <td>dictionary</td>
                        <td><code>Getter.Object</code></td>
                        <td>Return dictionary object</td>
                    </tr>
                    <tr>
                        <td>get</td>
                        <td><code>Function</code></td>
                        <td>Used to return localized word</td>
                    </tr>
                    <tr>
                        <td>observe</td>
                        <td><code>Function.Observable</code></td>
                        <td>Used to return the localized word and observe any changes on it</td>
                    </tr>
                    <tr>
                        <td>set</td>
                        <td><code>Function.Void</code></td>
                        <td>Used to add word by word to dictionary</td>
                    </tr>
                    <tr>
                        <td>setFromObject</td>
                        <td><code>Function.Promise</code></td>
                        <td>Used to add words to dictionary</td>
                    </tr>
                    <tr>
                        <td>setFromFile</td>
                        <td><code>Function.Promise</code></td>
                        <td>Used to add words to dictionary</td>
                    </tr>
                    <tr>
                        <td>clear</td>
                        <td><code>Function.Void</code></td>
                        <td>Used to clear dictionary storage and maped urls by loader class</td>
                    </tr>
                    <tr>
                        <td>languageChanges</td>
                        <td><code>Getter.Observable</code></td>
                        <td>Used to observe language change</td>
                    </tr>
                    <tr>
                        <td>dictionaryReady</td>
                        <td><code>Getter.Observable</code></td>
                        <td>Used to be notified when data are loaded, parsed and mapped in dictionary</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    
</div>